{% extends 'base.html' %}
{% block conteudo %}
<h1 class="display-2">CONTATO</h1>
<p style="text-align: center;">
    Para financiar o projeto Além do Pedal, ser um novo parceiro ou para mais informações, não deixe de entre em
    contato.
</p>

<form action="{{ url_for('contato') }}" method="POST">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome" required>
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Seu email" required>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="11 99999-9999">
    </div>

    <div class="form-group">
        <label class="form-group" for="se-assunto">Assunto:</label>
        <select class="custom-select" name="assunto" id="se-assunto" required>
            <option value="" selected disabled>Escolha o assunto</option>
            <option value="Financiar">Financiar</option>
            <option value="Grupo">Grupo</option>
            <option value="Parceria">Parceria</option>
            <option value="Outros">Outros</option>
        </select>
    </div>

    <div class="form-group">
        <label for="ta-mensagem">Mensagem:</label>
        <textarea name="mensagem" class="form-control" id="ta-mensagem" rows="5" cols="50" required></textarea>
    </div><br>

    <button type="submit" class="btn btn-warning">Enviar</button>
    <button type="reset" class="btn btn-dark">Limpar</button>
</form>

<a href="https://api.whatsapp.com/send?phone=5511947255628" target="_blank" class="whatsapp-icon">
    <img src="{{url_for('static',filename='img/whatsapp64.png')}}" alt="WhatsApp">
</a>
{% endblock conteudo %}