{% extends 'base.html' %}

{% block conteudo %}

<br>

<h1 class="display-2">ATUALIZAR GRUPO</h1>
<form action="{{ url_for('editar_grupo', id=grupo[0][0]) }}" method="POST">

    <div class="form-group">
        <input type="hidden" id="id_grupo" name="id_grupo" value="{{ grupo[0][0] }}">
    </div>

    <div class="form-group">
        <label for="grupo">grupo:</label>
        <input type="text" class="form-control" id="grupo" name="grupo" value='{{grupo[0][1]}}'>
    </div>

    <div class="form-group row">
        <label for="cep">CEP:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="cep" name="cep" value="{{ grupo[0][2] }}">
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" onclick="buscarCep()">Consultar</button>
        </div>
    </div>

    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" class="form-control" id="endereco" name="endereco" value="{{ grupo[0][3] }}">
    </div>

    <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" class="form-control" id="complemento" name="complemento" value="{{ grupo[0][4] }}">
    </div>

    <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input type="text" class="form-control" id="bairro" name="bairro" value="{{ grupo[0][5] }}">
    </div>

    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" class="form-control" id="cidade" name="cidade" value="{{ grupo[0][6] }}">
    </div>

    <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" class="form-control" id="estado" name="estado" value="{{ grupo[0][7] }}">
    </div>

    <div class="form-group">
        <label for="contato">Contato:</label>
        <input type="text" class="form-control" id="contato" name="contato" value="{{ grupo[0][8] }}">
    </div>

    <div class="form-group">
        <label for="responsavel">Responsável:</label>
        <input type="text" class="form-control" id="responsavel" name="responsavel" value="{{ grupo[0][9] }}">
    </div>

    <div class="form-group">
        <legend class="col-form-label col-sm-2 pt-0">Status:</legend>

        <input class="custom-control-label" type="radio" id="ra-ativo" name="status" value="1" {% if grupo[0][12]=='1'
            %} checked {% endif %}>
        <label class="form-check-label" for="ra-ativo">Ativo</label>

        <input class="custom-control-label" type="radio" id="ra-inativo" name="status" value="0" {% if grupo[0][12]=='0'
            %} checked {% endif %}>
        <label class="form-check-label" for="ra-inativo">Inativo</label>
    </div>

    <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" class="form-control" id="data" name="data" value="{{ grupo[0][11] }}" readonly>
    </div>

    <div class="form-group">
        <label for="detalhes">Detalhes:</label>
        <textarea class="form-control" name="detalhes" id="detalhes" rows="5" cols="50">{{ grupo[0][10] }}</textarea>
    </div><br>

    <button type="submit" class="btn btn-warning">Salvar</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/';">Cancelar</button>

</form>

{% endblock conteudo %}