{% extends 'base.html' %}
{% block conteudo %}
<h1 class="display-2">OBJETIVOS</h1>
<ul>
    <li>Ajudar e auxiliar todos os ciclistas.</li>

    <li>Unir os grupos de pedais e amantes do esporte em um único lugar;</li>

    <li>Aumentar o respeito das pessoas com o ciclista e dos ciclistas com as pessoas;</li>

    <li>Tornar o espaço público. Um ambiente em que os ciclistas possam pedalar sem medo;</li>

    <li>Criar parcerias por todo o país para melhorar a qualidade de vida dos ciclistas e condições na prática do
        esporte.</li>

    <li>Divulgar e fortalecer os grupos de ciclismo para que possam ajudar cada dia mais pessoas a iniciar nesse esporte
        com segurança;</li>

    <li>Organizar passeios diferenciados pelo país, mostrando nossas riquezas e belezas naturais.</li>

    <li>Trazer rotas e contatos para que todos possam um dia fazer ciclo viagens mais longas sem ter grandes problemas.
    </li>

    <li>​Mostrar um país maravilhoso que poucas pessoas conhecem onde juntos passaremos a conhecer.</li>

    <li>Usar o ciclismo como agente transformador, mostrando formas de gerar renda em lugares incríveis, que
        infelizmente deixam de ter por serem lugares desconhecidos.​</li>

    <li>Criar oportunidades de novos negócios voltado para esse nicho.​</li>
</ul>
{% endblock conteudo %}