{% extends '_base.html' %}

{% block conteudo %}
<!--
<input type="button" value="Voltar" onClick="history.go(-1)">
-->
<br>
<form action="{{ url_for('resultado_grupo') }}" method="GET">
    <label for="grupo">Grupo:</label>
    <input type="text" name="grupo" required>
    <input type="submit" value="Buscar">
</form>

{% block content %}
<h1 class="display-2">RESULTADO</h1>

{% if resultado %}
<table>
    <tr>
        <th>Grupo</th>
        <th>Endereço</th>
        <th>UF</th>
        <th>Contato</th>
        <th>Responsável</th>
        <th>Data</th>
        <th>Detalhes</th>
        <th>Ação</th>
    </tr>
    {% for result in resultado %}
    <tr>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
        <td>{{ result[3] }}</td>
        <td>{{ result[4] }}</td>
        <td>{{ result[5] }}</td>
        <td>{{ result[6] }}</td>
        <td>{{ result[7] }}</td>
        <td>
            <form action="#" method="get">
                <button class="editar-btn" type="submit">Editar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nenhum resultado encontrado.</p>
{% endif %}
{% endblock %}

{% endblock conteudo %}