{% extends '_base.html' %}

{% block conteudo %}
<!--
<input type="button" value="Voltar" onClick="history.go(-1)">
-->
<br>
<form action="{{ url_for('resultado_parceiro') }}" method="GET">
    <label for="parceiro">Parceiro:</label>
    <input type="text" name="parceiro" required>
    <input type="submit" value="Buscar">
</form>

{% block content %}
<h1 class="display-2">RESULTADO</h1>

{% if resultado %}
<table>
    <tr>
        <th>Parceiro</th>
        <th>CEP</th>
        <th>Endereço</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Contato</th>
        <th>Responsável</th>
        <th>Desconto</th>
        <th>Detalhes</th>
        <th>Data</th>
        <th>Status</th>
        <th>Ação</th>
    </tr>
    {% for result in resultado %}
    <tr>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
        <td>{{ result[3] }}</td>
        <td>{{ result[4] }}</td>
        <td>{{ result[5] }}</td>
        <td>{{ result[6] }}</td>
        <td>{{ result[7] }}</td>
        <td>{{ result[8] }}</td>
        <td>{{ result[9] }}</td>
        <td>{{ result[10] }}</td>
        <td>{{ result[11] }}</td>
        <td>{{ result[12] }}</td>
        <td>{{ result[13] }}</td>
        <td>
            <form action="#" method="GET">
                <button class="editar-btn" type="submit">Editar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nenhum resultado encontrado.</p>
{% endif %}
{% endblock %}

{% endblock conteudo %}