{% extends '_base.html' %}

{% block conteudo %}

<br>
<form action="{{ url_for('resultado_grupo') }}" method="GET">
    <label for="grupo">Grupo:</label>
    <input type="text" name="grupo" required>
    <input type="submit" value="Buscar">
</form>

{% block content %}
<h1 class="display-2">RESULTADO</h1>

<table>
    <tr>
        <th>Grupo</th>
        <th>CEP</th>
        <th>Endereço</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Contato</th>
        <th>Responsável</th>
        <th>Detalhes</th>
        <th>Data</th>
        <th>Status</th>
        <th>Ação</th>
    </tr>
    {% for item in resultado %}
    <tr>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>{{ item[4] }}</td>
        <td>{{ item[5] }}</td>
        <td>{{ item[6] }}</td>
        <td>{{ item[7] }}</td>
        <td>{{ item[8] }}</td>
        <td>{{ item[9] }}</td>
        <td>{{ item[10] }}</td>
        <td>{{ item[11] }}</td>
        <td>
            {% if item[12] == '1' %}
            Ativo
            {% else %}
            Inativo
            {% endif %}
        </td>
        <td>
            <a href='{{ url_for("editar_grupo", id=item[0]) }}' class="btn btn-secondary">
                <i class="bi bi-arrow-clockwise"> </i>Editar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% endblock conteudo %}