{% extends '_base.html' %}

{% block conteudo %}

<!--
<input type="button" value="Voltar" onClick="history.go(-1)">
-->
<h1 class="display-2">CADASTRO DE GRUPO</h1>
<form action="cadastrar_grupo" method="POST">

    <div class="form-group">
        <label for="grupo">Grupo:</label>
        <input type="text" class="form-control" id="grupo" name="grupo">
    </div>

    <div class="form-group row">
        <label for="cep">CEP:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="cep" name="cep">
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" onclick="buscarCep()">Consultar</button>
        </div>
    </div>

    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" class="form-control" id="endereco" name="endereco">
    </div>

    <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" class="form-control" id="complemento" name="complemento">
    </div>

    <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input type="text" class="form-control" id="bairro" name="bairro">
    </div>

    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" class="form-control" id="cidade" name="cidade">
    </div>

    <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" class="form-control" id="estado" name="estado">
    </div>

    <div class="form-group">
        <label for="contato">Contato:</label>
        <input type="text" class="form-control" id="contato" name="contato">
    </div>

    <div class="form-group">
        <label for="responsavel">Responsável:</label>
        <input type="text" class="form-control" id="responsavel" name="responsavel">
    </div>

    <div class="form-group">
        <legend class="col-form-label col-sm-2 pt-0">Status:</legend>

        <input class="form-check-input" type="radio" name="status" id="ra-ativo" value="1" checked>
        <label class="form-check-label" for="ra-ativo">Ativo</label>

        <input class="form-check-input" type="radio" name="status" id="ra-inativo" value="0">
        <label class="form-check-label" for="ra-inativo">Inativo</label>
    </div>

    <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" class="form-control" id="data" name="data">
    </div>

    <div class="form-group">
        <label for="ta-detalhes">Detalhes:</label>
        <textarea name="detalhes" class="form-control" id="ta-detalhes" rows="5" cols="50"></textarea>
    </div><br>

    <button type="submit" class="btn btn-success">Cadastrar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
</form>

{% endblock conteudo %}