{% extends '_base.html' %}
{% block conteudo %}
<h1 class="display-2">CONTATO</h1>
<p>
    Quer mais informações, quer financiar o Além do Pedal ou deseja ser um novo parceiro e esta com duvidas.<br>
    Por favor entre em contato.
</p>

<form action="contato" method="POST">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="tel" class="form-control" id="telefone" name="telefone">
    </div>

    <div class="form-group">
        <label class="form-group" for="se-assunto">Assunto:</label>
        <select class="custom-select" name="assunto" id="se-assunto">
            <option selected disabled>Escolha o assunto</option>
            <option value="Financiar">Financiar</option>
            <option value="Grupo">Grupo</option>
            <option value="Parceria">Parceria</option>
            <option value="Outros">Outros</option>
        </select>
    </div>

    <div class="form-group">
        <label for="ta-mensagem">Mensagem:</label>
        <textarea name="mensagem" class="form-control" id="ta-mensagem" rows="5" cols="50"></textarea>
    </div><br>

    <button type="submit" class="btn btn-warning">Enviar</button>
    <button type=" reset" class="btn btn-secondary">Limpar</button>
</form>

<a href="https://api.whatsapp.com/send?phone=5511947255628" target="_blank" class="whatsapp-icon">
    <img src="{{url_for('static',filename='img/whatsapp64.png')}}" alt="WhatsApp">
</a>
{% endblock conteudo %}