{% extends '_base.html' %}

{% block conteudo %}
<!--
<input type="button" value="Voltar" onClick="history.go(-1)">
-->
<h1 class="display-2">PARCEIROS</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Parceiro</th>
        <th>CEP</th>
        <th>Endereço</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Contato</th>
        <th>Responsável</th>
        <th>Desconto</th>
        <th>Detalhes</th>
        <th>Data</th>
        <th>Status</th>
    </tr>
    {% for parceiro in parceiros %}
    <tr>
        <td>{{ parceiro[0] }}</td>
        <td>{{ parceiro[1] }}</td>
        <td>{{ parceiro[2] }}</td>
        <td>{{ parceiro[3] }}</td>
        <td>{{ parceiro[4] }}</td>
        <td>{{ parceiro[5] }}</td>
        <td>{{ parceiro[6] }}</td>
        <td>{{ parceiro[7] }}</td>
        <td>{{ parceiro[8] }}</td>
        <td>{{ parceiro[9] }}</td>
        <td>{{ parceiro[10] }}</td>
        <td>{{ parceiro[11] }}</td>
        <td>{{ parceiro[12] }}</td>
        <td>{{ parceiro[13] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock conteudo %}