{% extends '_base.html' %}

{% block conteudo %}
<!--
<input type="button" value="Voltar" onClick="history.go(-1)">
-->
<h1 class="display-2">GRUPOS</h1>
<table>
    <tr>
        <th>Grupo</th>
        <th>CEP</th>
        <th>Endereço</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Contato</th>
        <th>Responsável</th>
        <th>Detalhes</th>
        <th>Data</th>
        <th>Status</th>
    </tr>
    {% for grupo in grupos %}
    <tr>
        <td>{{ grupo[1] }}</td>
        <td>{{ grupo[2] }}</td>
        <td>{{ grupo[3] }}</td>
        <td>{{ grupo[4] }}</td>
        <td>{{ grupo[5] }}</td>
        <td>{{ grupo[6] }}</td>
        <td>{{ grupo[7] }}</td>
        <td>{{ grupo[8] }}</td>
        <td>{{ grupo[9] }}</td>
        <td>{{ grupo[10] }}</td>
        <td>{{ grupo[11] }}</td>
        <td>
            {% if grupo[12] == '1' %}
            Ativo
            {% else %}
            Inativo
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>

{% endblock conteudo %}