{% extends '_base.html' %}
{% block conteudo %}
<h1 class="display-2">COMO FUNCIONA AS PARCERIAS​</h1>
<p>
    Os parceiros são empresas que acreditam na força do esporte como um agente de transformação além de acreditar e se
    identificar com o Além do Pedal esses parceiros iram fazer parte dessa revolução no ciclismo, concedendo descontos
    em seus serviços para ajudar as pessoas que praticam esse esporte.
    Com isso esperamos criar oportunidades de novos negócios por todo país que vão ajudar a fortalecer o ciclismo e
    todos os negócios que esse modal movimenta.
    O desconto fica a critério da empresa, o Além do Pedal não estipula valor ou porcentagem a ser oferecida.
    Vale ressaltar que o Além do Pedal não cobra nada dos parceiros e nem dos membros.
    O Além do Pedal conta com parceiros entre eles estão nutricionistas, academias, fisioterapeutas, ortopedistas entre
    outros profissionais.
    Os parceiros são um ponto muito importante e valorizamos muito todos eles.

    Quer ser nosso parceiro click no botão abaixo
    Seja um Parceiro!
</p>

{% endblock conteudo %}