{% extends '_base.html' %}
{% block conteudo %}
<!--
<input type="button" value="Voltar" onClick="history.go(-1)">
-->
<div class="container">

    <h1 class="display-2">CRIAR CONTA</h1>

    <form action="{{ url_for('login') }}" method="get">
        <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp"
                placeholder="Seu email">
            <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
        </div>

        <div class="form-group">
            <label for="loginSenha">Senha</label>
            <input type="password" class="form-control" id="loginSenha" aria-describedby="senhaHelp"
                placeholder="Senha">
            <small id="senhaHelp" class="form-text text-muted">Sua senha deve ter entre 8 e 20 caracteres, os quais
                devem ser letras e números, sem espaços, caracteres especiais ou emojis.</small>
        </div>

        <button type="submit" class="btn btn-warning">Entrar</button>
        <button type="reset" class="btn btn-dark">Limpar</button>
    </form>
</div>

{% endblock conteudo %}