<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Além do Pedal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/objetivo">Objetivo</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Parceiro
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/parceiro">Sobre Parceria</a>
                    <a class="dropdown-item" href="/buscar_parceiro">Buscar Parceiro</a>
                    <a class="dropdown-item" href="/listar_parceiro">Listar Parceiro</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cadastrar_parceiro">Adicionar Parceiro</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Grupo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/grupo">Sobre Grupo</a>
                    <a class="dropdown-item" href="/buscar_grupo">Buscar Grupo</a>
                    <a class="dropdown-item" href="/listar_grupo">Listar Grupo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cadastrar_grupo">Adicionar Grupo</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Eventos</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">Sobre Eventos</a>
                    <a class="dropdown-item disabled" href="#">Buscar Eventos</a>
                    <a class="dropdown-item" href="/eventos">Listar Eventos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cadastrar_evento">Adicionar Evento</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dicas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Tudo</a>
                    <a class="dropdown-item" href="#">Exercícios</a>
                    <a class="dropdown-item" href="#">Nutrição</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Adicionar Conteúdo</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
            </li>

        </ul>
        <ul class="navbar-nav form-inline my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Criar Conta</a>
            </li>
        </ul>
    </div>
</nav>