{% extends 'base.html' %}
{% block conteudo %}
<h1 class="display-2">O QUE SÃO OS GRUPOS DE PEDAIS</h1>
<p>
    Os Grupos de Pedais são ciclistas que se reúnem com o mesmo intuito desde passeios, treinos, trilhas, ciclo viagens
    entre outras coisas.
    Os grupos para o Além do Pedal são considerados como o principal pilar para ajudar e auxiliar ciclistas sejam eles
    iniciantes ou profissionais.
    Os grupos vão fazer você conhecer novos lugares, vão fazer você treinar com mais determinação, eles iram abrir a
    porta para um mundo totalmente novo e sensacional de se conhecer. Encontre um grupo abaixo para você participar.

    Se você tem um grupo de pedal clique no botão abaixo e cadastre o seu grupo é de graça.
    Cadastrar Grupo
</p>

{% endblock conteudo %}